
<div class="panel panel-default">
  <div class="panel-heading">
      <h1>Nowy Pin</h1>
  </div>
    <%= render 'form' %>
  <div class="panel-footer">
      <%= link_to 'Wróć', pins_path %>
  </div>
</div>
